#discharged {
	background: url(../images/bk_intro.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	font-size: 36px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;
	z-index: 10;
}


#discharged #logo{
	background: url(../images/logo_small.png) top left no-repeat;
    width: 351px;
    height: 109px;
	display: block;
	float: left;
	margin: 20px 0 0 20px;
}

#discharged #content {
	width: 780px;
	height: 500px;
	display: inline-block;
	position: absolute;
	left: 250px;
	top: 185px;
	text-align: center;
}

#discharged #content p {
	line-height: 70px;
	font-size: 52px;
	text-align: center;
	font-weight: 700;
	text-shadow: 2px 2px 6px rgba(0,0,0,1.00);
}

#discharged #datetime {
	position: absolute;
	top: 25px;
	right: 55px;
	font-size: 24px;
	text-shadow: 1px 1px 5px #000;
}

#discharged #revision {
	position: absolute;
	left: 20px;
	bottom: 10px;
	top: 670px;
	font-size: 12px;
	color: #ffffff;
	z-index: 9;
}

