.myprograms {
}
.myprograms .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}
.myprograms .page-title {
	left: 66px;
	top: 100px;
	width: 544px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #015b75;
	box-shadow: 1px 4px 8px 0px #353535; 
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	font-weight: bold;
}

.myprograms #header {
	width: 100%;
	height: 145px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.myprograms #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.myprograms #header #heading1 p {
    color: #003768;
}

.myprograms #header #heading2 {
	width: 556px;
	height: 58px;
	top: 162px;
	left: 60px;
	position: absolute;
	float: left;
	z-index: 1;
	/*border: 4px solid rgba(240,244,245,1.00);
    background: #94b329;
	background: -webkit-linear-gradient(#94b329, #4c7401);*/
	border-radius: 8px;
	background-color: #64aa5e;
	box-shadow: 1px 4px 8px 0px #353535;	
}	

.myprograms #header #heading2 p {
	color: #F8F9F9;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
	font-weight: 600;
	text-shadow: 2px 2px 12px #000000;
}

.myprograms #content {
	width: 100%;
	height: 575px;
	top: 145px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;

}

.myprograms #content .sub-header {
	margin: 40px 0px 0px 660px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	font-size: 25px;
	/*color: #FFFF92;*/
}

.myprograms #menu {
	width: 100%;
	height: 100%;
}

.myprograms #menu .major {
	position: absolute;
	width: 544px;
	height: 472px;
	left: 66px;
	top: 66px;
	padding: 35px 0 0 0;
	/*background: #333230;*/
	box-shadow: 2px 2px 6px 0px #0C1E32;
	/*color below is GV: #003768;*/
	background-color: rgba(56,76,101,1.00);
	/*border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;*/
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
     overflow-y: auto;    
	overflow-x: hidden;
	
}

.myprograms #menu .major a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 8px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 8px;
	/*color below is GV: #003768;*/
	background-color: #0088b1;	
	/*background-color: rgba(21,60,77,1.00);
	/*background-color: rgba(48, 138, 200, 1.00);*/
}
.myprograms #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 4px;
	text-align: left;
	margin-bottom: 16px;
	background-color: rgba(48,138,200,0.70);
	border-radius: 8px;

}
.myprograms #menu .major a.selected {
	background: #d08327;
	border-radius: 8px;
}

.myprograms #menu .minor {
	position: absolute;
	width: 600px;
	height: 377px;
	top: 110px;
	left: 660px;
}

.myprograms #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.myprograms #menu .minor .arrow-button.sub-page-prev {
	left: -19px;
}

.myprograms #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.myprograms #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.myprograms #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.myprograms #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.myprograms #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.myprograms #menu .minor .back-tab img {
	width: 90%;
	height: 90%;
	margin: 40px 0px 0px 25px;
}

.myprograms #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 610px;
}

.myprograms #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.myprograms #menu .minor .sub-header {
	margin-top: -20px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	/*color: #FFFF92;*/
}

.myprograms #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.myprograms #menu .minor .sub-content {
    margin-top: 2px;
	height: 420px;
    overflow: hidden;
    position: relative;
}

.myprograms #menu .minor .sub-content p {
	margin-bottom: 2px;
	line-height: 50px;
	padding-top: 26px;
	padding-bottom: 0px;
	padding-right: 30px;
}

.myprograms #menu .minor .sub-content .sub-image1 img
,.myprograms #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 7, EDUCATION LIBRARY */
.myprograms #menu .minor .sub-content.layout7 {
	
}

.myprograms #menu .minor .sub-content.layout7 .sub-text1{
	display: inline-block;
	width: 100%;
	height: 415px;
	font-size: 32px;
	overflow-y: auto;    
	overflow-x: hidden;	
}

.myprograms #menu .minor .sub-content.layout7 .sub-text1 a {
	width: 550px;
	height: 42px;
	font-size: 28px;
	line-height: 42px;
	padding-left: 35px;
	margin: 10px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   
	overflow: hidden;
}

.myprograms #menu .minor .sub-content.layout7 .sub-text1 a.bookmarked {    
	background: url(../images/checkmark.png) top left no-repeat;
}

.myprograms #menu .minor .sub-content.layout7 .sub-text1 a.bookmarked.active {    
	background: url(../images/checkmark.png) top left no-repeat;
	background-color: rgba(211,96,18,1.00);
}