 .primary {
	background: url(../images/bk_home.jpg) top left no-repeat;
}

 .primary #header {
	width: 100%;
	height: 216px;
	position: absolute;
	/*background: url(../images/bk_primary_gradient.png) top left no-repeat;*/
}

 .primary #header #patient {
	width: 453px;
	height: 58px;
	top: 90px;
	left: 434px;
	position: absolute;
	display: inline-block;
	float: left;
}

 .primary #header #patient p {
	line-height: 28px;
	text-align: left;
	color: #04090E;
	font-weight: bold;
}


 .primary #header #date {
	width: 377px;
	height: 28px;
	top: 146px;
	left: 7px;
	position: absolute;
	display: inline-block;
	float: left;
}

 .primary #header #date p {
	line-height: 28px;
	text-align: center;
	color: #01396E;
	font-size: 20px;
}

 .primary #header #slideshow{
	position: absolute;
	background: url(../KPNW_JaoTech_slideshow-only.swf) no-repeat;
	width: 330px;
	height: 186px;
	display: block;
	float: left;
	left: 880px;
	top: 30px;
}

 .primary #content {
	width: 100%;
	height: 711px;
	top: 0px;
	position: absolute;
}

 .primary #menu {
	width: 100%;
	height: 100%;
}

/* .primary #menu .slides {
	position: absolute;
	top: 286px;
	left: 66px;
	width: 1148px;
	height: 435px;
}

 .primary #menu .slides .slide {
	width: 1148px;
	height: 491px;
	display: none;
}


 .primary #menu .slides #menu1-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

 .primary #menu .slides #menu2-slide {
	background: url('../images/img_main_learn.jpg') top left no-repeat;
}

 .primary #menu .slides #menu3-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

 .primary #menu .slides #menu4-slide {
	background: url('../images/img_main_watch.jpg') top left no-repeat;
}

 .primary #menu .slides #menu5-slide {
	background: url('../images/img_main_relax.jpg') top left no-repeat;
}
*/

 .primary #menu .major {
	/*background: url('../images/menubar_slice.png') repeat-x;*/
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: -2px;
	top: 216px;
}

 .primary #menu .major a {
	position: absolute;
	height: 59px;
	margin: 0;
	padding-top: 30px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 28px;
	color: rgba(255,255,255,1.00);
	top: -11px;
	font-weight: bold;
	letter-spacing: 1px;
}

 .primary #menu .major a.selected {
	font-size: 34px;
	background-repeat: no-repeat;
	background-position: center top no-repeat;
	/*background-color: #308ac8;*/
	background-color: rgba(0,136,177,1.00);
	/*background-image: url('../images/menubar_highlight.png');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height: 48px;*/
	margin-top: 0px;
	padding-top: 20px;
	color: rgba(244,244,245,1.00);
	border-top-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

 .primary #menu .major a#menu1 {
	left: 30px;
	width: 262px;	
}

 .primary #menu .major a#menu2 {
	left: 246px;
	width: 268px;
}

 .primary #menu .major a#menu3 {
	left: 482px;
	width: 280px;
}

 .primary #menu .major a#menu4 {
	left: 752px;
	width: 272px;
}

 .primary #menu .major a#menu5 {
	left: 1000px;
	width: 255px;
}

 .primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 495px;
	top: 280px;

}

 .primary #menu .minor .menu-group {
	position: absolute;
	border: 1px solid #32455E;
	/*background:  rgba(19,56,101,.9);*/
	background: rgba(43,61,83,.80);
	margin: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-left: 0px;
	padding-bottom: 15px;
	display: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

 .primary #menu .minor #menu1-group {
	left: 28px;
	width: 312px;
}

 .primary #menu .minor #menu2-group {
	left: 234px;
	width: 286px;
}

 .primary #menu .minor #menu3-group {
	left: 460px;
	width: 320px;
}

 .primary #menu .minor #menu4-group {
	left: 725px;
	width: 320px;
}

 .primary #menu .minor #menu5-group {
	left: 980px;
	width: 272px;
}

.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: .5px;
}

.primary #revision {
	position: absolute;
	left: 20px;
	bottom: 55px;
	font-size: 12px;
	color: #FFFFFF;
}
